env/
Satellite Datasets/
.ipynb_checkpoints
output-dmog-search.txt/
dmog_search.py
dmog_search_1.py
.DS_Store
acc_graph.png
loss_graph.png
Exoplanet_Dataset_Preprocessing.ipynb
Exoplanet_Model_Testing_v1.ipynb
Exoplanet_Model_Testing_v2.ipynb
Exoplanet_Model_Testing_Weird.ipynb
Exoplanet_Dataset_Preperation.ipynb
Datasets/