env/
Satellite Datasets/
.ipynb_checkpoints
output-dmog-search.txt/
dmog_search.py
dmog_search_1.py
.DS_Store
acc_graph.png
loss_graph.png
Exoplanet_Dataset_Preprocessing.ipynb
Exoplanet_Model_Testing_v1.ipynb
Exoplanet_Model_Testing_v2.ipynb
Exoplanet_Model_Testing_Weird.ipynb
Exoplanet_Dataset_Preperation.ipynb
Datasets/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react_server/exovision-ui/node_modules/
react_server/exovision-ui/.pnp
react_server/exovision-ui/.pnp.js

# testing
react_server/exovision-ui/coverage

# production
react_server/exovision-ui/build/
react_server/exovision-ui/public/bg.mp4

# misc
react_server/exovision-ui/.DS_Store
react_server/exovision-ui/.env.local
react_server/exovision-ui/.env.development.local
react_server/exovision-ui/.env.test.local
react_server/exovision-ui/.env.production.local

react_server/exovision-ui/npm-debug.log*
react_server/exovision-ui/yarn-debug.log*
react_server/exovision-ui/yarn-error.log*
